@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;

  --color-main: #081c29;
  --color-darkBlue: #0e2c43;
  --color-lightBlue: #2596be;
  --color-cerulean: #2595be79;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

a {
  color: unset;
  text-decoration: none;
}
